@import '../../../styles/variables.module.scss';

.card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgba(48, 48, 48, 0.2);

    @media screen and (min-width: $mobileLarge-break) {
        flex-direction: row;
    }

    @media screen and (min-width: $tablet-break) {
        flex-direction: column;
    }
}

.card__imageOuter,
.card__info {
    width: 100%;

    @media screen and (min-width: $mobileLarge-break) {
        width: 50%;
    }

    @media screen and (min-width: $tablet-break) {
        width: 100%;
    }
}

.card__info {
    padding: 10px;
    overflow: hidden;
}

.card__imageContainer {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
}

.card__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
