@import '../../../../styles/variables.module.scss';

.foodListItem {
    width: 100%;
    max-width: 768px;

    @media screen and (min-width: $tablet-break) {
        max-width: 230px;
    }
}

.foodListItem__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4,
    h5 {
        margin: 10px 0;
    }
}
