@import './variables.module.scss';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: $kinBackgroundColor;
    color: $kinMediumColor;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
